<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docbox - User Dashboard</title>
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/zepher-bootsrap-theme.min.css' %}">
</head>
<body>
    <h2>User Dashboard</h2>
    <p>Hello {{ user.last_name }}</p>
    <p>{{ request.session.keys }}</p>
    <ul>
        {% for key, value in request.session.items %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
    <form action="{% url 'user_logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Logout</button>
    </form>

    <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
