<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">

        <!-- Site Title -->
        <title>Docbox - Change Password</title>

        {% load static %}
        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'vendors/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/css/venobox.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/keyframe-animation.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/css/odometer.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/css/swiper.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>

    <body>
        <section class="hero-section">
            <div class="hero-bg-shape"><img src="{% static 'img/bg-img/hero-bg-shape.png' %}" alt="shape"></div>
            <div class="hero-shape"><img src="{% static 'img/shapes/hero-shape-1.png' %}" alt="shape"></div>
            <div class="hero-images">
                <img src="{% static 'img/images/hero-img-1.png' %}" alt="hero">
                <!-- <img src="{% static 'img/images/hero-img-2.png' %}" alt="hero"> -->
                <!-- <img src="{% static 'img/images/hero-img-3.png' %}" alt="hero"> -->
            </div>
            <!-- change this image to somethinng else -->
            <div class="hero-img"><img src="{% static 'img/images/hero-img-2.png' %}" alt="hero"></div>
            <div class="container">
                <div class="hero-content">
                    {% if validlink %}
                        <form action="" method="post" class="form-control p-4">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">Validate</button>
                        </form>
                    {% else %}
                        <h4 class="sub-title anim-text">Expired link💔</h4>
                        <p>Your request token is invalid/Expired, click the button to get a new one.</p>
                        <a href="{% url 'reset-password' %}" class="rr-primary-btn rounded-pill">Request new link</a>
                    {% endif %}
                </div>
            </div>
        </section>
        <!-- JS here -->
        <script src="{% static 'vendors/js/jquary-3.6.0.min.js' %}"></script>
        <script src="{% static 'vendors/js/bootstrap-bundle.js' %}"></script>
        <script src="{% static 'vendors/js/imagesloaded-pkgd.js' %}"></script>
        <script src="{% static 'vendors/js/waypoints.min.js' %}"></script>
        <script src="{% static 'vendors/js/venobox.min.js' %}"></script>
        <script src="{% static 'vendors/js/odometer.min.js' %}"></script>
        <script src="{% static 'vendors/js/meanmenu.js' %}"></script>
        <script src="{% static 'vendors/js/jquery.isotope.js' %}"></script>
        <script src="{% static 'vendors/js/wow.min.js' %}"></script>
        <script src="{% static 'vendors/js/swiper.min.js' %}"></script>
        <script src="{% static 'vendors/js/split-type.min.js' %}"></script>
        <script src="{% static 'vendors/js/gsap.min.js' %}"></script>
        <script src="{% static 'vendors/js/scroll-trigger.min.js' %}"></script>
        <script src="{% static 'vendors/js/scroll-smoother.js' %}"></script>
        <script src="{% static 'vendors/js/jquery.carouselTicker.js' %}"></script>
        <script src="{% static 'vendors/js/nice-select.js' %}"></script>
        <script src="{% static 'js/ajax-form.js' %}"></script>
        <script src="{% static 'js/contact.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>