<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docbox - User Registration</title>
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/zepher-bootsrap-theme.min.css' %}">
</head>
<body>
    <h2>User Registration Page</h2>
    <form class="needs-validation" method="POST" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="class btn btn-primary">Register</button>
    </form>
    {% if form.errors %}
        <ul>
            {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>